<main>
    <!--
        Acá, como tenés tres div con la misma estructura,
        podrías utilizar una sola como plantilla y luego
        completar lo que es variable, como el título de la
        sección, con javascript.
    -->
    <div class="row">
        <div class="header">
            <h3 class="title">Destacados</h3>
            <div class="progress-bar">
                <div class="progress-item active"></div>
                <div class="progress-item"></div>
                <div class="progress-item"></div>
                <div class="progress-item"></div>
            </div>
        </div>
        <div class="carousel">
            <button class="handle left-handle">
                <div class="text">&#8249</div>
            </button>
            <div class="slider"
                id="trending">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250</div>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="header">
            <h3 class="title">Películas</h3>
            <div class="progress-bar">
                <div class="progress-item active"></div>
                <div class="progress-item"></div>
                <div class="progress-item"></div>
                <div class="progress-item"></div>
            </div>
        </div>
        <div class="carousel">
            <button class="handle left-handle">
                <div class="text">&#8249</div>
            </button>
            <div class="slider"
                id="movies">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250</div>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="header">
            <h3 class="title">Series</h3>
            <div class="progress-bar">
                <div class="progress-item active"></div>
                <div class="progress-item"></div>
                <div class="progress-item"></div>
                <div class="progress-item"></div>
            </div>
        </div>
        <div class="carousel">
            <button class="handle left-handle">
                <div class="text">&#8249</div>
            </button>
            <div class="slider"
                id="tv">
            </div>
            <button class="handle right-handle">
                <div class="text">&#8250</div>
            </button>
        </div>
    </div>

    <script src="../js/carousel.js"></script>
</main>
