<main class="container">
    <div class="info">
        <div class="synopsis">
            <h3>Sinopsis</h3>
            <p id="synopsis"></p>
        </div>
        <div class="data-sheet">
            <h3>Ficha Técnica</h3>
            <div class="data-title">
                Genero:
            </div>
            <div class="data-description"
                id="genre"></div>
            <div class="data-title">
                Lanzamiento:
            </div>
            <div class="data-description"
                id="year"></div>
            <div class="data-title">
                Calificacion (TMDB):
            </div>
            <div class="data-description"
                id="qualification"></div>
        </div>
    </div>

    <div class="cast">
        <h3>Reparto</h3>
        <div class="cards"
            id="cast">
        </div>
    </div>

</main>

<!-- <div class="row">
    <div class="header">
        <h3 class="title">Relacionadas</h3>
        <div class="progress-bar">
            <div class="progress-item active"></div>
            <div class="progress-item"></div>
            <div class="progress-item"></div>
            <div class="progress-item"></div>
        </div>
    </div>
    <div class="carousel">
        <button class="handle left-handle">
            <div class="text">&#8249</div>
        </button>
        <div class="slider"
                id="similar">
            </div>
        <button class="handle right-handle">
            <div class="text">&#8250</div>
        </button>
    </div>
</div> -->